@import "reset.css";
@import "typography.css";

body {
    height: 100vh;
    background: linear-gradient(#009688 15%, #dcdbd2 0%);
}

#app {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /* background-color: #eaeaea; */
    background-color: bisque;
    height: 95%;
    width: 85%;
}

/* ==========================================
   =================HEADER===================
   ========================================== */
.header {
    background-color: lightcoral;
    height: 80px;
    display: flex;
    align-items: center;
}

.header *,
.side * {
    display: flex;
    align-items: center;
}

.header .self,
.user {
    padding: 0 10px;
    justify-content: space-between;
    border: 1px solid orange;
    position: relative;
}

.header .self,
.side {
    width: 35%;
}

.header .user {
    width: 65%;
}

.user {
    width: 100%;
}

.user-info {
    display: block;
}

span {
    padding: 0 10px;
}

.header .btn-group * {
    margin: 0 3px;
}

img {
    padding: 5px 0;
    border-radius: 50%;
}

/* ==========================================
   ==================SIDE====================
   ========================================== */

.side {
    flex-direction: column;
    background-color: white;
    height: calc(100% - 80px);
}

.side * {
    align-items: flex-start;
}

.notifications * {
    align-items: center;
}

.searchBar {
    display: flex;
    justify-content: center;
}

.searchBar * {
    border: 1px solid lightgray;
    margin: 10px 0;
    padding: 5px;
    
}

.searchBar input {
    padding: 6.5px;
    outline: none;
    width: 87%;
}

.side .user-info {
    padding: 10px 0;
}

.side-users {
    width: 100%;
    height: calc(100% - 127px);
    overflow-y: scroll;
    align-items: flex-start;
    flex-direction: column;
}

.notifications {
    background-color: lightblue;
}

.time-up {
    position: absolute;
    top: 0;
    right: 0;
}