@import "reset.css";
@import "typography.css";

body {
    height: 100vh;
    background: linear-gradient(#009688 15%, #dcdbd2 0%);
    /* overflow: hidden; */
}

#app {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /* background-color: #eaeaea; */
    background-color: bisque;
    height: 95%;
    width: 85%;
    display: fl;
}

/* ==========================================
   =================HEADER===================
   ========================================== */
.header {
    background-color: #eaeaea;
    height: 80px;
    display: flex;
    align-items: center;
}

.header *,
.side * {
    display: flex;
    align-items: center;
}

.header .self,
.user {
    padding: 0 10px;
    justify-content: space-between;
    position: relative;
}

.header .self {
    width: 35%;
    border-right: 1px solid darkgray;
    height: 100%;
}

.header .user {
    width: 65%;
}

.user {
    width: 100%;
}

.user-info {
    display: block;
}

span {
    padding: 0 10px;
}

.header .btn-group * {
    margin: 0 3px;
}

img {
    padding: 5px 0;
    border-radius: 50%;
}

/* ==========================================
   ==================INNER===================
   ========================================== */

.inner-wrapper {
    height: 100%;
    display: flex;
    /* background-color: yellow; */
}

.inner {
    height: calc(100% - 80px);
    background-image: url('img/mine.jpg');
    width: 65%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.message-display {
    height: calc(100% - 80px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 0;
}

.message-type {
    background-color: #f3eeea;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.message-type input {
    width: 82%;
    padding: 6.5px;
    outline: none;
    margin: 0 2%;
}

.message {
    margin: 5px 80px;
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
    min-width: 270px;
}

.message.received {
    background-color: white;
}

.message.sent {
    align-self: flex-end;
    background-color: #d5f9ba;
}


/* ==========================================
   ==================SIDE====================
   ========================================== */

.side {
    flex-direction: column;
    background-color: white;
    height: calc(100% - 80px);
    width: 35%;
}

.side * {
    align-items: flex-start;
}

.notifications * {
    align-items: center;
}

.searchBar {
    display: flex;
    justify-content: center;
}

.searchBar * {
    border: 1px solid lightgray;
    margin: 10px 0;
    padding: 5px;
    
}

.searchBar input {
    padding: 6.5px;
    outline: none;
    width: 87%;
}

.side .user-info {
    padding: 10px 0;
}

.side-users {
    width: 100%;
    height: calc(100% - 127px);
    overflow-y: scroll;
    align-items: flex-start;
    flex-direction: column;
}

.notifications {
    background-color: #8edafc;
}

.time-up {
    position: absolute;
    top: 0;
    right: 0;
}