<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js" integrity="sha512-42PE0rd+wZ2hNXftlM78BSehIGzezNeQuzihiBCvUEB3CVxHvsShF86wBWwQORNxNINlBPuq7rG4WWhNiTVHFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <div class="container">
            <!-- HEADER -->
            <section class="header">
                <div class="self">
                    <div>
                        <img :src="self.avatar" alt="...">
                        <span class="name">{{self.name}}</span>
                    </div>
                    <div class="btn-group">
                        <button><i class="fa-solid fa-circle-notch"></i></button>
                        <button><i class="fa-solid fa-message"></i></button>
                        <button><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    </div>
                </div>

                <div class="user">
                    <div>
                        <img :src="('css/img/avatar_' + [activeIndex + 1] + '.jpg')">
                        <div class="user-info">
                            <span class="name">{{contacts[activeIndex].name}}</span>
                            <span>
                                <small>Ultimo accesso {{lastAccess()}} alle {{lastMessage(activeIndex)}}</small>
                            </span>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                        <button><i class="fa-solid fa-paperclip"></i></button>
                        <button><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    </div>
                </div>
            </section>
            
            <div class="inner-wrapper">
                <!-- SIDE -->
                <section class="side">
                    <div class="notifications user">
                        <div>
                            <div id="notifications-icon">
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>
                            <div class="notifications-info">
                                <span>Ricevi notifiche di nuovi messaggi</span>
                                <span><a href="#">Attiva notifiche</a></span>
                            </div>
                        </div>
                    </div>

                    <div class="searchBar">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" id="searchInput" placeholder="Cerca o inizia una nuova chat" v-model="search" v-on:keyup="contactFilter()">
                    </div>

                    <div class="side-users">
                        <div class="user-list" v-for="(user, index) in contacts" @click="clickContact(index)" :class="activeIndex === index ? 'active' : '' " >
                            <div class="user-wrapper" v-if="user.visible == true">
                                <img :src="('css/img/avatar_' + [index + 1] + '.jpg')"/>
                                <div class="user-info">
                                    <span class="name">{{contacts[index].name}}</span>
                                    <span><small>{{this.contacts[index].messages[this.contacts[index].messages.length-1].message}}</small></span>
                                </div>
                                <span class="clock-up">
                                    <small>{{this.contacts[index].messages[this.contacts[index].messages.length-1].date.substring(0, 16)}}</small>
                                </span>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- INNER -->
                <section class="inner">
                    <div class="message-display">
                        <div class="message" v-for="(message, index) in contacts[activeIndex].messages" :class="contacts[activeIndex].messages[index].status === 'sent' ? 'sent' : 'received' ">
                            <div>{{this.contacts[this.activeIndex].messages[index].message}}</div>
                            <span class="clock-down"><small>{{this.contacts[this.activeIndex].messages[index].date.substring(11, 16)}}</small></span>
                        </div>
                    </div>

                    <div class="message-type">
                        <button><i class="fa-regular fa-face-smile"></i></button>
                        <form @submit.prevent="sendMessage(messageField)">
                            <input type="text" id="typeMessage" placeholder="Scrivi un messaggio" v-model="messageField" required autocomplete="off">
                        </form>
                        <button><i class="fa-solid fa-microphone"></i></button>
                    </div>
                </section>
            </div>

        </div>
    </div>
</body>
<script src="js/main.js"></script>
</html>